@import 'styles/variables';
@import 'styles/mixins';

button {
    align-items: center;
    background: map-get($colors, "primary");
    border: none;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'cera round pro bold';
    gap: .5rem;
    max-width: 120px;
    padding: .5rem;
    &:hover {
        background: darken(map-get($colors, "primary"), 10%);
    }
    &.close {      
        background: none;          
        border-radius: 12px;
        color: map-get($colors, "primary");
        height: 24px;
        position: absolute;
        right: 1rem;
        width: 24px;
        &:hover {
            background: lighten(map-get($colors, "primary"), 35%);
            color: darken(map-get($colors, "primary"), 20%);
        }
        i {
            left: -1px;
            text-align: center;            
        }        
    }
    i {
        font-size: .8rem;     
        position: relative; 
        top: 1px;          
    }
    > * {
        left: -1rem;
        position: relative;
        text-align: right;
        + * {            
            margin: 0;
            text-align: left;
        }
    }
}