input,
textarea {
    border: 1px solid darken(map-get($colors, "neutral"), 10%);
    border-radius: .25rem;
    padding: .25rem;

    &:hover {
        border-color: map-get($colors, "primary");
    }
}

label {
    font-family: 'cera round pro medium';
    width: auto;

    +input,
    +select,
    +textarea {
        margin-top: .25rem;
    }
}

textarea {
    resize: none;
}

input,
textarea,
select {
    +* {
        margin-top: .25rem;
    }
}

[type="checkbox"] {
    cursor: pointer;
    margin-right: .25rem;
    position: relative;
    top: 1px;
    width: auto;
}