@import 'styles/variables';
@import 'styles/mixins';

.view {
    margin: 0;

    >section {
        margin: 0;

        &.is-showing-a-data-panel {            

            &:after {
                background: #000;
                content: '';
                height: 100%;
                left: 0;
                opacity: .5;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }
}