@import 'styles/variables';
@import 'styles/mixins';

.table {
    height: calc(100vh - 80px);
    // margin-top: 1rem;
    // overflow: auto;
    overflow: hidden;
    margin-top: -.25rem;
    width: 100%;

    &.sortable {
        thead {
            th {
                color: map-get($colors, "primary");
                cursor: pointer;
            }
        }
    }

    &.editable {
        tbody {
            tr {
                border-top: 1px solid map-get($colors, "neutral");

                &:first-child {
                    border-color: transparent;
                }

                &:hover {
                    background: lighten(map-get($colors, "primary"), 35%);
                    color: darken(map-get($colors, "primary"), 10%);
                    transition: .4s background-color ease-in-out;
                }

                &.selected {
                    background: darken(map-get($colors, "primary"), 10%);

                    // transition: none;
                    * {
                        color: #fff;
                        transition: none;
                    }
                }
            }
        }

        td {
            cursor: pointer;            
        }
    }

    #table-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: inherit;
        overflow: auto;
        position: relative;
        top: -28px;
        // z-index: 1;

        @include breakpoint(medium) {
            flex-direction: row;
        }
    }

    #search {
        background: #fff;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        margin: 0;
        position: sticky;
        top: 0;
        z-index: 1;
        width: calc(100% - 1.5rem);

        @include breakpoint(490px) {
            align-items: center;
            flex-direction: row;
        }

        &:after {
            background: #fff;
            bottom: -.5rem;
            content: '';
            height: .5rem;
            left: 0;
            position: absolute;
            width: 100%;
        }

        &:before {
            content: "\f002";
            color: darken(map-get($colors, "neutral"), 30%);
            font-family: 'Font Awesome 6 Free';
            font-size: .875rem;
            font-weight: 900;
            left: .375rem;
            position: absolute;
            top: 7px;
        }

        >div {
            margin: 0;
            max-width: 260px;

            +label {
                cursor: pointer;
                font: inherit;
                font-size: .75rem;
                margin: 0;

                [type="checkbox"] {
                    top: 2px;
                }
            }
        }

        [type="search"] {
            padding-left: 1.5rem;

            &::placeholder {
                color: darken(map-get($colors, "neutral"), 30%);
            }
        }

        +div {
            // margin-top: .75rem;
            margin-top: 0;

            /*thead {
                top: 36px;

            }*/
        }
    }

    table {
        border-collapse: collapse;
        height: fit-content;
        margin: 0 1rem 0 0;       
        table-layout: auto;         
    }

    thead {
        background: #fff;
        position: sticky;
        top: 28px;
        z-index: 1;

        &:before {
            background: #fff;
            bottom: 0;
            content: '';
            height: 1rem;
            width: calc(100% + 1rem);
            position: absolute;
            z-index: 1;
        }

        &:after {
            box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.08);
            bottom: 0;
            content: '';
            height: 1rem;
            width: calc(100% - .5rem);
            position: absolute;
        }
    }

    tbody {
        position: relative;
        top: 28px;
        tr {
            &:first-child {
                td {
                    // padding-top: .875rem;
                    // transition: none;
                }
            }

            .no-results {                
                h4 {
                    color: map-get($colors, "error");  
                    margin-top: .75rem;       
                    + p {
                        margin: .75rem 0 0 0;
                    }           
                }
            }
        }
    }

    th,
    td {
        max-width: 100px;
        padding: .5rem;
        width: auto;
        word-wrap: break-word;
    }

    th {
        font-family: 'cera round pro bold';
        position: relative;
        z-index: 1;
        padding: .5rem;

        div {
            display: flex;
            gap: .5rem;

            i {
                margin: 0;
                position: relative;

                // width: 20%;
                &:after {
                    font-family: 'Font Awesome 6 Free';
                    font-weight: 900;
                    height: 100%;
                    position: absolute;
                    top: calc(50% - 3px);
                }
            }
        }

        span {
            font-family: 'cera round pro medium';
            // width: 80%;
        }

        &.ascending {
            i:after {
                content: "\f0de";
            }
        }

        &.descending {
            i:after {
                content: "\f0dd";
                top: calc(50% - 11px);
            }
        }

        button {
            background: none;
            border: none;
            color: darken(map-get($colors, "primary"), 20%);
            cursor: pointer;
            margin: 0;
            text-align: left;
            padding: 0;
        }
    }

    .tag {
        position: relative;
        top: -2px;
    }
}